* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #faf6ed;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.header-container {
    width: 70%;
    margin: 0 auto;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.links .insta-logo img,
.links .facebook-logo img {
    width: 40px;
    height: 40px;
}

.hero .main-content {
    flex: auto;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main-content img {
    width: 50%;
    border-radius: 10px;
    border: 10px solid black;
}

.main-content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.text h1 {
    margin-top: 0;
    font-size: 60px;
}

.text p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.text a {
    padding: 8px 32px;
    width: 150px;
    height: 66px;
    border-radius: 10px;
    border: solid 2px black;
    background-color: transparent;
    font-size: 24px;
    color: black;
}

.text a:hover {
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}

.crew-row {
    background-color: #cfead6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.crew-row .heading {
    display: flex;
    justify-content: center;
}

.crew-row .heading h2 {
    font-size: 48px;
}

.crew-row .main-content {
    flex: 1;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.crew-row .first-row img, .crew-row .second-row img{
    width: 300px;
    height: auto;
    border-color: #063708;
}

.crew-row .first-row img:hover, .crew-row .second-row img:hover{
    border-color: #4fac52;
}


.crew-row .first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.crew-row .second-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero .main-content img{
    filter: drop-shadow(5px 5px 15px #000000);
}

.quotes-row{
    background-color: #E5E7EB;
    height: 100vh;
}